<%- include('./partials/header') %>
<%- include('./partials/navbar', { user: user }) %>

<main class="index">
  <header class="masthead d-flex">
      <div class="container text-center my-auto">
          <h1 class="mb-1">La mejor tienda de mangas</h1>
          <h3 class="mb-5">
              <em>Empieza Ya! registrate</em>
          </h3>
          <a href="/login" class="btn btn-primary">
              Empieza Ya!
          </a>
      </div>
  </header>
</main>

<%- include('./partials/footer') %>
